@font-face {
    font-family: 'Oswald';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/oswald-v47-latin-regular.woff2') format('woff2'),
        url('../fonts/oswald-v47-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Oswald', ' Roboto', serif;
    color: #000;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    display: block;
}

.logo:hover {
    opacity: 0.8;
}

.container__header {
    display: flex;
    justify-content: space-between;
}

.header {
    text-align: center;
}

.link {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;


}

.link:hover {
    opacity: 0.7;
    color: #000;
}

.logos {
    display: flex;
    justify-content: center;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #000;

}

.nav-item {
    margin-left: 40px;

}

.cor {
    margin-left: auto;
    padding: 14px 40px;
    color: white;
    border-radius: 30px;
    background: #0057FF;
    margin-left: 120px;
    margin-left: 350px;
}

.container__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    max-width: 484px;
}

.content__title {
    margin: 0;
    padding: 0;
    width: 70%;
    font-weight: 56px;
    line-height: 44px;
    text-transform: uppercase;
    margin-bottom: 0;

}


.content__text {
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    width: 484px;
    margin-top: 52px;
    margin-bottom: 17px;
}

.content__box {
    display: flex;
    margin-bottom: 40px;

}

.content__link {
    display: inline-block;
    margin-left: 0;
    text-align: left;
    background-color: #FFA332;
    margin-top: 40px;

}


.content__wrap {
    margin-left: 20px;
}


.part__3 {
    text-align: center;
}


.part__text2 {
    margin: 0;
    font-size: 11px;
    line-height: 22px;
    color: #0057FF;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.part__h2 {
    margin: 0 auto;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.part__p1 {
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    width: 684px;
    text-align: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}


.ab {
    width: 87px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    justify-content: center;
}

.link__more {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    justify-content: center;

}

.link__more {
    margin-left: auto;
    margin-right: auto;
    display: flex;


    text-align: center;
}

.inbox {
    display: flex;
}

.part__text2 {
    margin: 0 auto;
}


.part__h2 {
    width: 484px;
    font-size: 25px;
    line-height: 36px;
    text-transform: uppercase;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.part__p1 {
    text-align: center;
}


.part_3box {
    text-align: center;
}

.part5__p {
    display: flex;
    width: 455px;
    font-size: 14px;
    line-height: 24px;
}

.part5_box {
    width: 201px;

}

.part5_p2 {

    width: 195px;
}


.section-5 {
    display: flex;

}

.part5-sec {
    font-size: 29px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;

}

.section-5 container {
    max-width: 1240px;
    margin-top: 147px;
}

.sent__link {
    padding: 4px, 176px;
    width: 460px;
    background-color: #0057FF;
    border-radius: 30px;
    color: white;
}


.container_staff {
    display: flex;
}


.staff_img {
    margin-top: 247px;
}

.staff_list {
    /* background-color: #0057FF; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.staff__h2 {
    width: 482px;
    flex-direction: column;
    margin-top: 50px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;

}


.staff__p {
    width: 488px;
    margin-left: 180px;
    text-align: center;
    font-size: 15px;
    line-height: 26px;
}

.staff__info {
    text-decoration: none;
    list-style: none;
}

.staff__box {
    display: flex;
    justify-content: end;
    align-items: center;
}

.info__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    text-decoration: none;
    border: 2px solid #ccc;
    padding-right: 148px;
    padding-left: 47px;
    padding-top: 20px;

}


.info__plus {
    display: block;
    margin-right: 20px;
    margin-left: auto;
}


.section__6 {
    display: flex;
    align-items: flex-start;


}


.section__box1 {
    align-items: start;
}


.section__6h {
    margin-top: 274px;
    width: 388px;
    margin-left: 20px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section__6p {
    margin-left: 20px;
    width: 508px;
    margin-top: 49px;
    font-size: 14px;
    line-height: 24px;
}


.section__6l {
    text-decoration: none;
    list-style: none;
}

.section__6a {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.line {
    border: 4px solid;
}


.a {
    width: 459px;
    background: #0057FF;
    border-radius: 100px;
    color: #0057FF;
}


.b {
    width: 351px;
    margin-left: 0;
    background: #B861FF;
    border-radius: 100px;
    color: #B861FF;
}


.c {
    width: 389px;
    margin-left: 0;
    background: #FF8E32;
    border-radius: 100px;
    color: #FF8E32;
}

.proff {
    margin-left: 130px;
    margin-top: 130px;
}

.proff__cost {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.proff__m {
    text-align: center;
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}


.proff__6 {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 18px;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
}

.pa {
    margin-top: 31px;
}


.link__ticket {
    display: inline-block;
    border-radius: 30px;
    padding: 10px 40px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    background-color: #0057FF;
    color: white;
}


.link__ticket:hover {
    opacity: 0.8;
}

.introducing {
    max-width: 1240px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}




.photo {
    width: 380px;
    justify-content: center;
    width: 30%;

}


.introducing__img {
    text-align: center;
    margin: 0 auto;
    padding-left: 70px;
}

.introducing__p1 {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.edy_name {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

}


.introducing__p1 {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.introducing__img {
    text-align: center;
    margin-left: 100px;
}


.star {
    text-align: center;

}


.stars_5 {
    justify-content: center;
    text-align: center;
}

.photo__2 {
    width: 387px;
    align-items: center;
}


.staff__3 {
    width: 380px;
    align-items: center;
}


.introducing__p1 {
    width: 387px;
}


.midle__part {
    min-width: 1240px;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
}


.litle__text {
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #0057FF;
}

.bigger__text {
    width: 776px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}

.midle__part {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.link__midle {
    margin-top: 45px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #0057FF;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;

}


.logos__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 195px;
}


.container_bottom {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}


.text__twice {
    margin-top: 126px;
}

._bottom {
    justify-content: center;
    margin-bottom: 66px;
}

.gift__duble__part {
    flex-direction: column;

}

.gift__left__side {
    display: flex;
    width: 592px;
    margin-bottom: 16px;
}

.gift__texts {
    padding-left: 30px;
}


.gift__text {
    padding-top: 41px;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0057FF;
}


.gift__h3 {
    margin-top: 0;
    margin-bottom: 24px;
}


.gift__left__2part {
    width: 592px;
    display: flex;
    margin-bottom: 16px;
}


.staff__img {
    margin-top: 61px;
}

.gift__right__img {
    background-image: url(../img/recent.png);
    background-repeat: no-repeat;
    width: 592px;
}

.gift__h3 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}


.in {
    margin-top: 71px;
}


.footer {
    max-width: 1400px;
    padding: 60px 120px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

.footer_leftside {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.footer__text {
    color: #999999;
    margin-top: 100px;
}

.footer_span {
    color: #fff;
}


.footer_rightside {
    display: block;
}


.footer__link {
    color: white;
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.footer__list {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.footer_menu {
    display: flex;
    justify-content: flex-end;
    width: max-content;
    margin-bottom: 70px;
}

.logos__wrapper {
    display: flex;
    justify-content: end;
}